
{% extends 'base.html' %}
{% load static %}
{% block header %}
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
    <script src='{% static "js/comment.js" %}'></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="content" class="row" style=" min-height: 400px">
        <div class="col">
            <div id="commentForm" class="col" style="padding-top: 20px" >
                <textarea id="comment" class="form-control" rows="10" id="comment" placeholder="Write your comment here."></textarea>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 20px">
        <div class="col-sm">
            <p>
                Got a PDF, Image, or other file you'd like to upload?
            </p>
            <input type="file"
                   id="fileUploadInput"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'/>

            <button id="submitCommentButton" class="btn btn-success" style="float:right">Submit</button>
        </div>
    </div>

{#    decorative bottom bar#}
    <div class="row" style="background-color: dimgrey; height:20px;">

    </div>

    <div    class="row">
    Anonyomous gurantee: The source code that powers this site is located here.
    </div>
{% endblock %}
