
{% extends 'base.html' %}
{% load static %}
{% block header %}
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
    <script src='{% static "js/comment.js" %}'></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="CommentContent" class="row" style=" min-height: 200px">
        <div class="col">
            <div id="commentForm" class="col" style="padding: 10px" >
                <textarea id="comment" class="form-control" rows="10" id="comment" placeholder="Write your comment here, it will be viewed by leadership."></textarea>
            </div>
        </div>
    </div>
    <div align="right" style="width: 50px">

    </div>
    <div id="submitSuccessMsg" align="center" class="alert alert-success justify-content-center" role="alert" style=" display: none ">
         Thank you for your comment!
    </div>
    <div class="row" style="padding: 10px">
        <div class="col-sm">
            <p>
                Got a PDF, Image, or other file you'd like to upload?
            </p>
            <input type="file"
                   id="fileUploadInput"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'/>
            <button id="submitCommentButton" class="btn btn-success" style="float:right">Submit</button>
        </div>

    </div>
    <div id="emblemDiv" class="row justify-content-center">
        <img id="emblemImg" style="width: 200px; height: 200px" src="{% static "images/emblem.jpg" %}" alt="EADS Emblem">
    </div>
{#    decorative bottom bar#}
    <div class="row" style="background-color: dimgrey; height:20px;">

    </div>

    <div    class="row">
    <span style="padding: 5px"> Anonyomous gurantee: The source code that powers this site is located here.</span>
    </div>
    <div class = "row" style="padding: 10px" >
        <div class="col">
        <div align="right">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">logout</a>
                <a href="{% url 'comment:comment' %}">Home  </a>
            {% else %}
                <p><a href="{% url 'login' %}">Admin login</a></p>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock %}
