{% load static %}
#content{
    background-image: url('../images/contrails.jpg');
    background-repeat: no-repeat;
}

#header:after{

}

#footer{
    height: 20px;
    background-color: dimgrey;
    max-width: 1000px;
}

