{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content" class="row" style=" min-height: 50px">
        <div class="col">
            <p>
            </p>
        </div>
    </div>
    <div id="emblemDiv" class="row justify-content-center">
        <img id="emblemImg" style="width: 200px; height: 200px" src="{% static "images/emblem.jpg" %}" alt="EADS Emblem">
    </div>
    <div id="" class="row justify-content-center" style=" ">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter password" id="pwd">
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">

                            {{message }}
                        </div>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}